body {
    color: #333;
    font-family: Lato, sans-serif;
}

img {
    margin: 0 auto;
    width: 75%;
    display: block;
    margin-top: 5rem;
    max-width: 20rem;
    margin-bottom: 3rem;
}

p, h1, ul {
    margin: 0 auto;
    margin-top: 1rem;
    width: 85%;
    max-width: 30rem;
}